<p><%= trabajadores_item.content %></p>
<%= link_to "Eliminar",trabajadores_list_trabajadores_item_path(@trabajadores_list, trabajadores_item.id), method: :delete, data: { confirm: "Esta seguro?" } %>